<h1>New User</h1>

<%= render 'form', user: @user %>
<div class="g-recaptcha" data-sitekey="6Ld-EYAUAAAAAEsRBYZ5rlt2BKCRVTfSP5iWto6M"></div>
<p id="notice"><%= notice %></p>
<%= link_to 'Back', users_path %>
